[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "spconform"]
	path = spconform
	url = https://github.com/amjed-droid/spconform
